<header class="header">
  <div class="header-container-wrapper">
    <div class="header-text-wrapper">
      <p class="header-text">Image Finder</p>
    </div>
    <div class="header-img-wrapper">
      <img class="header-img" src="./assets/icons8-male-user-96.png">
    </div>
  </div>
</header>

<main class="main">
  <section class="main_content">
    <div class="main_navbar">
      <div class="main_navbar-cloud">
        <a><img src="./assets/icons8-cloud-50.png"></a>
      </div>
      <div class="main_navbar-book">
        <a><img src="./assets/icons8-book-stack-60.png"></a>
      </div>
    </div>
    <div class="main_search-panel">
      <div class="main_input-wrapper">
        <input class="main_input" placeholder="Find image">
      </div>
      <div class="main_paginator-wrapper">
        <a class="main_paginator-next">Forward ></a>
        <a class="main_paginator-total">Page 1 of 10</a>
        <a class="main_paginator-prev">< Back</a>
      </div>
      <div class="main_card-content-wrapper">
        <div class="main_card-wrapper">
          <div class="main_card">
            <img src="https://forum.dedowsk.com/uploads/77.gif">
            <a class="main_card-href">Bookmark it!</a>
            <a class="main_card-href">Some tag?</a>
          </div>
          <div class="main_card">
            <img src="https://forum.dedowsk.com/uploads/77.gif">
            <a class="main_card-href">Bookmark it!</a>
            <a class="main_card-href">Some tag?</a>
          </div>
          <div class="main_card">
            <img src="https://forum.dedowsk.com/uploads/77.gif">
            <a class="main_card-href">Bookmark it!</a>
            <a class="main_card-href">Some tag?</a>
          </div>
          <div class="main_card">
            <img src="https://forum.dedowsk.com/uploads/77.gif">
            <a class="main_card-href">Bookmark it!</a>
            <a class="main_card-href">Some tag?</a>
          </div>
          <div class="main_card">
            <img src="https://forum.dedowsk.com/uploads/77.gif">
            <a class="main_card-href">Bookmark it!</a>
            <a class="main_card-href">Some tag?</a>
          </div>
          <div class="main_card">
            <img src="https://forum.dedowsk.com/uploads/77.gif">
            <a class="main_card-href">Bookmark it!</a>
            <a class="main_card-href">Some tag?</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<footer>

</footer>
