<header class="header">
  <div class="header-container-wrapper">
    <div class="header-text-wrapper">
      <p class="header-text">Image Finder</p>
    </div>
    <div class="header-img-wrapper">
      <a routerLink="/auth"><img class="header-img" src="./assets/icons8-male-user-96.png"></a>
    </div>
  </div>
</header>

<main class="main">
  <section class="main_content">
    <div class="main_navbar">
      <div class="main_navbar-cloud">
        <button routerLink="/cloud" [routerLinkActive]="['active']"><img src="./assets/icons8-cloud-50.png"></button>
      </div>
      <div class="main_navbar-book">
        <button *ngIf="iAuthService.isAuthenticated(); else login"  routerLink="/bookmark"><img src="./assets/icons8-book-stack-60.png"></button>
      </div>
    </div>
    <div class="main_search-panel">
      <div class="main_input-wrapper">
        <input class="main_input" #imgSearchInput placeholder="Find image">
      </div>
      <div class="main_message-text" *ngIf="!image$">No images here. Would you try to search for anything else ?</div>
      <div *ngIf="image$ | async as response" >
      <div class="main_paginator-wrapper">
        <button [disabled]="pageNumber >= getNumberOfPagination(response.photos.total, response.photos.perpage)" class="main_paginator-next" (click)="btnNextPage()">Forward ></button>
        <span class="main_paginator-total">
          Page {{pageNumber}} of {{getNumberOfPagination(response.photos.total, response.photos.perpage)}}
        </span>
        <button [disabled]="pageNumber == 1" class="main_paginator-prev" (click)="btnPrevPage()">< Back</button>
      </div>
      <div class="main_card-content-wrapper">
        <div class="main_card-wrapper">
          <div *ngFor="let currentImg of response.photos.photo" class="main_card">
            <img class="main_card-img" src="{{currentImg.url_m}}">
            <a class="main_card-href" (click)="saveImage(currentImg)">Bookmark it! </a>
            <p class="main_card-text ">Tags: {{currentImg.tags}}</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>
</main>

<footer class="footer">
  <h2>Copyrights</h2>
</footer>

<ng-template #login>
    <div class="main_navbar-book">
      <button [routerLink]="['/auth']"><img src="./assets/icons8-book-stack-60.png"></button>
    </div>
</ng-template>
